body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.resep-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resep-card img {
    width: 50px;  /* Mengatur ukuran gambar */
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
}

.resep-info {
    flex: 1;
    margin-left: 15px;
}

.resep-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.delete-btn {
    background-color: #f44336; /* Warna merah */
    color: white;
    padding: 5px 10px; /* Ukuran tombol lebih kecil */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px; /* Mengatur ukuran font tombol */
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.delete-btn:hover {
    background-color: #d32f2f; /* Merah lebih gelap saat hover */
}

.home-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50; /* Warna hijau */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-btn:hover {
    background-color: #45a049; /* Warna hijau lebih gelap saat hover */
}
