/* CSS untuk halaman resep */

h1{
    text-align: center;
    padding: 30px;
}

.recipe-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    max-width: 800px;
    margin: auto;
}

.recipe-image {
    flex: 1;
    text-align: center;
}

.recipe-image img {
    border-radius: 8px;
    max-height: 280px;
    width: 280px;
    object-fit: cover;
}

.text {
    flex: 2;
}

h2, h3 {
    font-family: Arial, sans-serif;
    color: #333;
}

.section-title {
    font-size: 18px;
    color: #555;
    margin-top: 15px;
    margin-bottom: 8px;
}

.text ul {
    padding-left: 20px;
    list-style-type: disc;
    color: #333;
}

.text ul li {
    margin-bottom: 5px;
}

.text p {
    color: #777;
    font-style: italic;
}
